<ion-header no-border>
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title">
      Dados Pessoais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200"></lottie-animation-view>
    <ion-item lines="none">
        <ion-label class="label" style="color: #753742;">Dados</ion-label>
      </ion-item>
    

  <ion-item  class="item" lines="inset">
      <ion-icon style="color: #753742;" name="filing"></ion-icon>&nbsp;
    <ion-input  disabled placeholder="">16091</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="mail" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled placeholder="">aurelio@aaaa.com</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="contact" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled placeholder="">Aurelio Ruotolo Ramos da Silva</ion-input>

  </ion-item>

  <ion-item  class="item" lines="inset">
      <ion-icon name="transgender" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled placeholder="">Masculino</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="calendar" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled  placeholder="">23/03/2001</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="book" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">78.892.125-00</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="book" style="color: #753742;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">213.357.274-73</ion-input>

  </ion-item>

  <ion-item lines="none">
      <ion-label class="label" style="color: #AA5042;">Parentesco</ion-label>
    </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="woman" style="color: #AA5042;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">Patricia Fernandes</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="man" style="color: #AA5042;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">Cicero Ramos</ion-input>

  </ion-item>

  <ion-item lines="none">
      <ion-label class="label" style="color: #D8BD8A;">Endereço</ion-label>
    </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="home" style="color: #D8BD8A;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">Rua: Jorge Jorguinho, 281</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="home" style="color: #D8BD8A;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">Itapeva X</ion-input>

  </ion-item>
  <ion-item lines="none">
      <ion-label class="label" style="color: #D8D78F;">Telefones</ion-label>
    </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="phone-portrait" style="color: #D8D78F;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">(00) 997546732</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="phone-portrait" style="color: #D8D78F;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">(00) 99568715</ion-input>

  </ion-item>

 <ion-item  class="item" lines="inset">
      <ion-icon name="call" style="color: #D8D78F;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">(00) 35780982</ion-input>

  </ion-item>

  <ion-item lines="none">
      <ion-label class="label" style="color: #AD343E;">Localização</ion-label>
    </ion-item>

  <ion-item  class="item" lines="inset">
      <ion-icon name="map" style="color: #AD343E;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">Itapeva</ion-input>

  </ion-item>

  <ion-item  class="item" lines="inset">
      <ion-icon name="map" style="color: #AD343E;"></ion-icon>&nbsp;
    <ion-input  disabled type="text" placeholder="">São Paulo</ion-input>

  </ion-item>

  
  <ion-item  class="item" lines="inset">
      <ion-icon name="map" style="color: #AD343E;"></ion-icon>&nbsp;
    <ion-input  disabled type="number" placeholder="">18402-435</ion-input>

  </ion-item>
  </ion-content>
