@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.title{
    font-family: 'Montserrat', sans-serif;
  }
.item{
  
  
}
ion-input{
  font-family: 'Open Sans', sans-serif;

}
.label{
  font-family: 'Montserrat', sans-serif; 
}
 
  
